<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemalocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app"
         version="3.1">


    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>ua.in.vyshnya.mod8.ListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

</web-app>